[server]
bind-address=0.0.0.0
binlog_format=row
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2
innodb_flush_log_at_trx_commit=0
query_cache_size=0
query_cache_type=0
server_id=1
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
max_allowed_packet=50M

[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4